asgiref==3.9.2
black==25.9.0
certifi==2025.10.5
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.3.0
colorama==0.4.6
cssbeautifier==1.15.4
distlib==0.4.0
django==5.2.6
django-environ==0.12.0
django-filter==25.1
djangorestframework==3.16.1
djlint==1.36.4
editorconfig==0.17.1
filelock==3.20.0
identify==2.6.15
idna==3.10
jsbeautifier==1.15.4
json5==0.12.1
markdown==3.9
mypy-extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
phonenumbers==9.0.14
pillow==11.3.0
platformdirs==4.5.0
pre-commit==4.3.0
psycopg2-binary==2.9.10
pytokens==0.1.10
pyyaml==6.0.3
regex==2025.11.3
requests==2.32.5
ruff==0.14.3
six==1.17.0
sqlparse==0.5.3
stripe==13.0.1
tqdm==4.67.1
typing-extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
uv==0.9.7
uwsgi==2.0.31
virtualenv==20.35.4
uwsgi